@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: black;
  min-height: 100%;
  max-height: 100%;
  overscroll-behavior: none;
  overflow: clip;
  color-scheme: dark;
}

b {
  color: #e1e1e1;
  margin: 0 10px;
}

/*body > #root {*/
/*  height: 100vh;*/
/*}*/