html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

b {
  color: #e1e1e1;
  margin-left: 10px;
  margin-right: 10px;
}

p {
  color: #dddad6;
  margin-top: 0;
  margin-bottom: 0;
}

body > #root {
  height: 100vh;
}

.mainViewer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

.vViewer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hViewer {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.primary {
  background: rgb(78, 78, 78);
  width: 78vw;
  overflow: hidden;
}

.secondary {
  background: rgb(26, 26, 26);
  width: 17%;
  margin-left: 1%;
}

.hostSettings {
  background: rgb(26, 26, 26);
  overflow: hidden;
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;


}

.userList {
  width: 50%;
  height: 10%;
}

.passwordEntry {
  width: 10%;
  height: 10%;
}

.shareLink {
  width: 10%;
  height: 10%;
}

.promptForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promptBox {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #055252;
  background-image: linear-gradient(-20deg, #6fe7d0, #065759);

  top: 50%;
  left: 50%;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.remoteHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mantine-TextInput-input {
  border-color: #776f62;
}

.iconDisplay {
  display: flex;
  flex-direction: row;
  border-style: solid;
  background-color: #282828;
  border-color: #525252;
  border-width: 2px;
  border-radius: 5px;
}
