.youtubeSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    aspect-ratio: 16/8;
    height: fit-content;
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}